:root {
	--building-color1: #aa80ff;
	--building-color2: #66cc99;
	--building-color3: #cc6699;
	--building-color4: #538cc6;
	/* :root selector is where style variables should be set because that allows them to be cascaded (shared) to all elements in the file */
}

* {
	border: 1px solid black;
	/* adds border to all elements to help with visualization as we build - will be deleted later */
	box-sizing: border-box;
	/* Makes it so that the border does not add size to elements  */
}

body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	/* makes body element take up entire viewport (vh) and removes it's default margin
    anything that runs over into the margin is hidden */
}

.background-buildings {
	width: 100%;
	height: 100%;
	/* targets div element with class of background-buildings and makes it take up entire height and width of the parent element (body) */
	display: flex;
	align-items: flex-end;
	justify-content: space-evenly;
	/* makes elements nested in this div not be on top of one another */
}

.bb1 {
	width: 10%;
	height: 70%;
	/* targes .bb1 div element nested within .background-buildings div and gives it a height
    that is 70% and width of 10% of the parent element (.background-buildings */
	display: flex;
	flex-direction: column;
	align-items: center;
	/* sets the display style for the elements nested inside this element to be a column that is centered */
	/* creates a variable using the dash dash(--) variable name pattern (--variable-name:value) */
}

.bb1a {
	width: 70%;
	height: 10%;
	/* gives .bb1a div a width of 70% and height of 10% of it's parent div (.bb1) 
  height of .bb1a-.bb1d should add up to 100% */
	background-color: var(--building-color1);
	/* sets the variable as the value of background color for this element */
}

.bb1b {
	width: 80%;
	height: 10%;
	/* gives .bb1b div a width of 80% and height of 10% of it's parent div (.bb1) 
  height of .bb1a-.bb1d should add up to 100% */
	background-color: var(--building-color1);
}

.bb1c {
	width: 90%;
	height: 10%;
	/* gives .bb1c div a width of 90% and height of 10% of it's parent div (.bb1) 
  height of .bb1a-.bb1d should add up to 100% */
	background-color: var(--building-color1);
}

.bb1d {
	width: 100%;
	height: 70%;
	/* gives .bb1d div a width of 100% and height of 70% of it's parent div (.bb1) 
  height of .bb1a-.bb1d should add up to 100% */
	background-color: var(--building-color1);
}

.bb2 {
	width: 10%;
	height: 50%;
	background-color: var(--building-color2);
	/* Invokes --building-color2 variable and creates fallback incase it fails */
}

.bb3 {
	width: 10%;
	height: 55%;
	background-color: var(--building-color3);
}
.bb4 {
	width: 11%;
	height: 58%;
	background-color: var(--building-color4);
}

.forground-buildings {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	/* makes .foreground-buildings div the same size as the body and starts it in the top left corner */
}
